@model IEnumerable<WebAPISuite.Models.ClientSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("ClientName")
        </th>
        <th>
            @Html.Label("ClientSettingName")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoReplyToCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoReplySubjectLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoReplyBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableFileUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleAdwordsEnabled)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GoogleConversionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleConversionCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoogleRemarketingOnly)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoReplyToCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoReplySubjectLine)
        </td>
        <td>
            @Html.Raw(item.AutoReplyBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableFileUpload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleAdwordsEnabled)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.GoogleConversionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionFormat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionColour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionLabel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleConversionCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoogleRemarketingOnly)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId, settingName=item.Name }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClientId, settingName = item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClientId, settingName = item.Name })
        </td>
    </tr>
}

</table>
